<!DOCTYPE html>
<html>
    <head>
        <%- include('head'); -%>
		<link rel="stylesheet" href="/static/css/home.css" />

	</head>
    <body>
        <%- include('notification'); -%>

        <img src="/static/images/logo1.png" alt="" id="logo1">
        <header class="header">
            <div class="nav_pc">
                <ul class="nav justify-content-center list">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/account">Quản lý tài khoản</a></li>
                    <li class="nav-item"><a class="nav-link" href="/card">Quản lý thẻ</a></li>
                    <li class="nav-item"><a class="nav-link" href="/car">Quản lý xe ra vào</a></li>
                    <li class="nav-item"><a class="nav-link" href="/parking-list">Quản lý bãi xe</a></li>
                    <li class="nav-item"><a class="nav-link" href="/device">Quản lý thiết bị</a></li>
                 </ul >
            </div>
            
            <label for="nav-mobile-input" class="nav_bars-btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
            </label>
            
            <input type="checkbox" class="nav_input" id="nav-mobile-input">
            
            <label for="nav-mobile-input" class="nav_overplay"></label>
            <div class="nav_mobile">
                <label for="nav-mobile-input" class="nav_mobile-close">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"/></svg>
                </label>
                <ul class="nav_mobile-list">
                    <li class="nav-item"><a class="nav_mobile-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav_mobile-link" href="/account">Quản lý tài khoản</a></li>
                    <li class="nav-item"><a class="nav_mobile-link" href="/card">Quản lý thẻ</a></li>
                    <li class="nav-item"><a class="nav_mobile-link" href="/car">Quản lý xe ra vào</a></li>
                    <li class="nav-item"><a class="nav_mobile-link" href="/parking-list">Quản lý bãi xe</a></li>
                    <li class="nav-item"><a class="nav_mobile-link" href="/device">Quản lý thiết bị</a></li>
                </ul>
            </div>
        </header>
        <div class="content">
            <p class="text">Chào mừng đến với hệ thống bãi giữ xe</p>
        </div>
    </body>
</html>